body {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
  }
a {
    text-decoration: none;
    color: darkgray;
  }

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  }
.left, .right{
  display: flex;
  align-items: center;
  padding: 16px;
}

h1 {
    size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    size: 18px;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    padding: 8px;
}

.section1left {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    color: #f9faf8;
}

.section1right {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 200px;
}

.SignUp {
    width: 75px;
    border: none;
    padding: 0 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

h2 {
    text-align: center;
    size: 36px;
    font-weight: 900;
    color: #f9faf8;
}

.section2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.planetandtext {
    height: 370px;
    width: 250px;
    flex-wrap: wrap;
    padding: 20px;
    color: black;
}

.section3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    background-color: #e5e7eb;
    padding-bottom: 15px;
}

.quote {
    padding: 20px;
    height: 40px;
    width: 500px;
    align-self: center;
    text-align: center;
}

.author {
    padding: 1px;
    align-self: center;
}

.section4 {
    align-self: center;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 700px;
    height: 50px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    padding: 8px;
    padding-top: 10px;


}
.section4left {
    padding: 10px;
    padding-top: 20px;
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    color: black;
    background-color:#e5e7eb;
}
.section4right {
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 100px;
    background-color:#e5e7eb;
}
.SignUp2 {
    width: 75px;
    height: 20px;
    border: 1px;
    border-color: #e5e7eb;
    padding: 0 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

footer {
    padding: 30px;
    display: flex;
    text-align: center;
    align-self: center;
    color: #e5e7eb;
}
